<launch>
    <arg name="mic_id" default="CADE" />
    <arg name="speaker_id" default="CADE" />

    <node pkg="asr_tts" type="asr_node.py" name="asr_node" output="screen">
        <param name="device_name" value="$(arg mic_id)" />
    </node>

    <node pkg="asr_tts" type="tts_node.py" name="tts_node" output="screen">
        <param name="device_name" value="$(arg speaker_id)" />
        <param name="play" value="true" />
    </node>

    </launch>
